@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.input-clr-default {
	outline: none;
}

.input-clr-default:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #0c1014;
	
}
::-webkit-scrollbar-thumb {
	background: #2f3f50;
	width: 8px;
	border-radius: 20px;
	box-shadow: -4px 7px 17px -8px rgba(0, 0, 0, 0.81);
	-webkit-box-shadow: -4px 7px 17px -8px rgba(0, 0, 0, 0.81);
	-moz-box-shadow: -4px 7px 17px -8px rgba(0, 0, 0, 0.81);
}
